<!-- <app-header></app-header>
<div class="container-fluid">
    <div class="row"> -->
<!-- <app-sidebar class="col-sm-3"></app-sidebar> -->
<!-- <app-home class="col-sm-9"></app-home> -->
<!-- <products class="col-sm-9"></products> -->
<!-- <app-orderd-master class="col-sm-9"></app-orderd-master> -->
<!-- <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<!-- <app-footer></app-footer> -->





<!-- <h1>Hello world!!!!!</h1> -->
<!-- show value from ts to html {{}} => interpolation -->
<!-- <h1>Hello , {{ mainTitle}}</h1> -->
<!-- <h1>{{sayHello()}}</h1> -->
<!-- <app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-sm-3"></app-sidebar> -->
<!-- <app-home class="col-sm-9"></app-home> -->
<!-- <products class="col-sm-9"></products> -->
<!-- <app-order-master class="col-sm-9"></app-order-master> -->
<!-- <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer> -->
<app-header></app-header>
<router-outlet></router-outlet>